<div class="category-sample">
  <header class="category-header">
    <h1 class="title">
      {{ collection.title }}
    </h1>
    <a href="{{ collection.url }}">
      see all
    </a>
  </header>

  <main class="category-main">

    <div class="card-four">
      {% for product in collection.products limit:3 %}
      <div class="card">
        <a href="{{ product.url }}">
          <div class="sale">
            <div class="sale-image">
              <div class="flex-image">
                <img src="{{ product.images[0].src  | img_url: '720x720'   }}" alt="{{ product.images[0].alt }}">
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </main>

</div>