<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="header-np">
      <div class="container reset">
        <h1 class="logo-np">
          <a href="#">
            <a href="#">
              <img src="{{ 'nayp-logo.svg' | asset_url }}" alt="nayp">
            </a>
          </a>
        </h1>
        <div class="header-navegation">
          <nav class="nav-main">
            <ul class="main-master">
              <li> <a href="#" id="active-collections"> shop </a> </li>
              <li><span class="divider">/</span></li>
              <li> iaai </li>
              <li><span class="divider">/</span></li>
              <li> <a href="#" id="active-info"> info </a> </li>
            </ul>
            <div class="megamenu display" id="collections">
              <div class="container">
                <ul class="menu_home">
                  {% for link in linklists[section.settings.main_linklist].links %}
                  {%- assign child_list_handle = link.title | handleize -%}

                  <li>
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="megamenu display" id="info">
              <div class="container">
                <ul class="menu menu-info">
                  <li><a href="#">sobre a marca</a></li>
                  <li><a href="#">guia de tamanhos</a></li>
                  <li><a href="#">formas de pagamento</a></li>
                  <li><a href="#">entregas de prazos</a></li>
                  <li><a href="#">trocas e devoluções</a></li>
                  <li><a href="#">contato</a></li>
                </ul>
              </div>
            </div>

            <div class="megamenu reset display" id="search">
              <div class="container">
                <div class="search-box">
                  <form method="get" action="/search" role="search" id="SearchInput" class="form-wrap">
                    <div class="form_inline">
                      <input type="search" style="color: black" name="q" value="{{ search.terms | escape }}" placeholder="buscar na loja">
                      <button class="btn-icon"  type="submit"> ok</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </nav>
        </div>
        <div class="header-info">
          <div class="nav-language">
            <ul>
              <li class="active">
                <a href="#">
                  <svg class="icon icon-world" viewBox="0 0 32 32">
                    <title>world</title>
                    <path class="path1" fill="#000" d="M30.655 16c0 8.094-6.561 14.655-14.655 14.655s-14.655-6.561-14.655-14.655c0-8.094 6.561-14.655 14.655-14.655s14.655 6.561 14.655 14.655z"></path>
                    <path class="path2" d="M16 0.002c8.838 0 16 7.162 16 15.998s-7.162 15.998-16 15.998c-8.836 0-16-7.162-16-15.998s7.164-15.998 16-15.998v0zM15.99 1.918c-7.755 0-14.069 6.309-14.069 14.080 0 7.777 6.314 14.085 14.069 14.085 7.781-0 14.090-6.308 14.090-14.085 0-7.771-6.309-14.080-14.090-14.080v0zM21.022 11.469c-0.142 0.109-0.236 0.311-0.416 0.351 0.087-0.022 0.18-0.351 0.235-0.423 0.109-0.131 0.253-0.202 0.401-0.272 0.312-0.133 0.623-0.17 0.952-0.225 0.311-0.071 0.696-0.071 0.938 0.203-0.055-0.055 0.383-0.439 0.438-0.455 0.168-0.093 0.443-0.059 0.552-0.224 0.040-0.054 0.040-0.401 0.040-0.401-0.314 0.032-0.423-0.256-0.445-0.514 0 0.015-0.037 0.070-0.109 0.147 0.017-0.279-0.329-0.077-0.461-0.109-0.421-0.11-0.367-0.407-0.492-0.718-0.072-0.164-0.274-0.219-0.351-0.384-0.072-0.109-0.11-0.349-0.274-0.367-0.109-0.020-0.313 0.384-0.344 0.367-0.17-0.093-0.242 0.034-0.366 0.11-0.116 0.071-0.204 0.039-0.314 0.094 0.328-0.115-0.142-0.296-0.313-0.259 0.257-0.076 0.132-0.349-0.017-0.476 0.040 0 0.056 0 0.095 0-0.039-0.168-0.547-0.312-0.713-0.421-0.17-0.11-1.046-0.295-1.232-0.185-0.219 0.13 0.055 0.497 0.055 0.677 0.022 0.22-0.219 0.274-0.219 0.46 0 0.314 0.585 0.259 0.444 0.681-0.095 0.251-0.444 0.311-0.586 0.508-0.149 0.187 0.015 0.516 0.164 0.647 0.141 0.109-0.259 0.291-0.313 0.328-0.313 0.148-0.546-0.312-0.624-0.586-0.066-0.202-0.087-0.444-0.307-0.553-0.109-0.033-0.455-0.093-0.53 0.023-0.11-0.28-0.505-0.389-0.756-0.477-0.363-0.132-0.675-0.132-1.058-0.077 0.127-0.015-0.038-0.586-0.344-0.493 0.087-0.185 0.054-0.388 0.087-0.569 0.040-0.147 0.11-0.295 0.219-0.421 0.038-0.072 0.439-0.493 0.312-0.514 0.313 0.038 0.657 0.054 0.909-0.204 0.165-0.165 0.242-0.437 0.407-0.618 0.24-0.28 0.541 0.071 0.793 0.087 0.383 0.023 0.362-0.383 0.142-0.568 0.259 0.020 0.039-0.421-0.092-0.476-0.158-0.055-0.788 0.109-0.454 0.24-0.072-0.038-0.516 0.882-0.773 0.421-0.072-0.093-0.109-0.476-0.268-0.491-0.148 0-0.237 0.164-0.292 0.274 0.089-0.242-0.514-0.407-0.641-0.423 0.274-0.186 0.055-0.388-0.147-0.498-0.148-0.089-0.603-0.164-0.727-0.017-0.352 0.421 0.361 0.476 0.548 0.585 0.055 0.038 0.272 0.165 0.141 0.258-0.109 0.054-0.432 0.147-0.47 0.219-0.11 0.164 0.124 0.351-0.040 0.516-0.164-0.165-0.164-0.439-0.289-0.626 0.165 0.203-0.663 0.099-0.641 0.099-0.274 0-0.718 0.175-0.92-0.099-0.034-0.069-0.034-0.493 0.075-0.404-0.164-0.127-0.277-0.253-0.388-0.329-0.602 0.202-1.173 0.459-1.708 0.75 0.075 0.020 0.124 0.020 0.217-0.017 0.143-0.055 0.262-0.147 0.406-0.219 0.186-0.070 0.569-0.295 0.771-0.131 0.023-0.034 0.077-0.072 0.094-0.089 0.131 0.149 0.258 0.291 0.367 0.455-0.141-0.072-0.383-0.032-0.548-0.017-0.132 0.038-0.349 0.072-0.404 0.219 0.055 0.093 0.124 0.242 0.087 0.335-0.236-0.17-0.416-0.444-0.739-0.482-0.144 0-0.285 0-0.401 0.020-1.769 0.969-3.258 2.383-4.32 4.070 0.070 0.076 0.148 0.131 0.22 0.148 0.185 0.055 0 0.586 0.349 0.312 0.109 0.093 0.127 0.22 0.054 0.346 0.018-0.018 0.75 0.459 0.805 0.497 0.132 0.11 0.334 0.236 0.389 0.384 0.037 0.132-0.072 0.274-0.187 0.329-0.015-0.032-0.289-0.306-0.329-0.236-0.055 0.094 0 0.585 0.204 0.571-0.297 0.014-0.164 1.154-0.242 1.373 0 0.017 0.038 0.017 0.038 0.017-0.055 0.22 0.127 1.085 0.499 0.99-0.24 0.055 0.421 0.9 0.516 0.955 0.234 0.164 0.514 0.272 0.679 0.514 0.184 0.257 0.184 0.641 0.444 0.843-0.077 0.219 0.387 0.476 0.367 0.788-0.038 0.017-0.055 0.017-0.093 0.040 0.093 0.251 0.442 0.251 0.574 0.492 0.072 0.148 0 0.491 0.235 0.422 0.040-0.406-0.235-0.805-0.436-1.14-0.116-0.181-0.225-0.344-0.317-0.531-0.089-0.164-0.109-0.366-0.181-0.548 0.072 0.017 0.476 0.164 0.444 0.22-0.149 0.366 0.586 1.007 0.777 1.249 0.055 0.054 0.471 0.601 0.252 0.601 0.236 0 0.571 0.368 0.68 0.553 0.164 0.274 0.125 0.62 0.24 0.914 0.109 0.367 0.625 0.532 0.92 0.696 0.257 0.132 0.476 0.312 0.733 0.407 0.383 0.148 0.472 0.015 0.795-0.040 0.477-0.070 0.532 0.461 0.915 0.663 0.235 0.127 0.745 0.313 0.996 0.202-0.104 0.036 0.395 0.79 0.427 0.844 0.17 0.219 0.481 0.329 0.664 0.548 0.055-0.037 0.104-0.092 0.124-0.164-0.070 0.204 0.279 0.586 0.467 0.548 0.202-0.033 0.256-0.438 0.256-0.586-0.372 0.188-0.706 0.038-0.903-0.328-0.039-0.093-0.328-0.609-0.071-0.609 0.345 0 0.109-0.273 0.071-0.531s-0.29-0.421-0.421-0.641c-0.109 0.22-0.482 0.165-0.591-0.015 0 0.056-0.055 0.147-0.055 0.22-0.095 0-0.181 0.016-0.274-0.016 0.038-0.226 0.055-0.5 0.109-0.733 0.093-0.335 0.702-0.976-0.089-0.938-0.274 0.017-0.382 0.127-0.476 0.367-0.093 0.22-0.055 0.421-0.312 0.531-0.164 0.071-0.713 0.040-0.876-0.055-0.339-0.202-0.57-0.843-0.57-1.209-0.022-0.493 0.231-0.938 0-1.391 0.11-0.094 0.214-0.28 0.341-0.367 0.104-0.078 0.229 0.055 0.283-0.17-0.054-0.033-0.124-0.11-0.142-0.11 0.274 0.131 0.782-0.181 1.019 0 0.147 0.11 0.312 0.148 0.404-0.034 0.017-0.054-0.131-0.277-0.053-0.421 0.053 0.312 0.252 0.367 0.525 0.165 0.11 0.109 0.405 0.072 0.607 0.181 0.204 0.13 0.242 0.328 0.482 0.055 0.144 0.22 0.159 0.22 0.214 0.444 0.055 0.196 0.164 0.71 0.351 0.804 0.395 0.234 0.3-0.406 0.263-0.625-0.022-0.017-0.022-0.624-0.038-0.624-0.591-0.127-0.372-0.586-0.039-0.898 0.055-0.034 0.478-0.181 0.657-0.329 0.165-0.147 0.367-0.406 0.274-0.64 0.093 0 0.17-0.077 0.203-0.164-0.055-0.023-0.274-0.203-0.312-0.187 0.132-0.070 0.109-0.18 0.037-0.289 0.181-0.116 0.095-0.313 0.274-0.389 0.204 0.274 0.608-0.032 0.407-0.257 0.185-0.253 0.612-0.127 0.722-0.367 0.274 0.075 0.072-0.274 0.219-0.478 0.132-0.165 0.352-0.165 0.511-0.257 0 0.022 0.459-0.252 0.312-0.274 0.311 0.040 0.936-0.289 0.459-0.569 0.072-0.164-0.164-0.236-0.329-0.274 0.127-0.032 0.292 0.038 0.401-0.032 0.243-0.17 0.077-0.242-0.127-0.297-0.257-0.070-0.586 0.092-0.789 0.219v0zM18.033 27.551c2.514-0.444 4.747-1.691 6.435-3.466-0.11-0.109-0.307-0.077-0.456-0.148-0.148-0.055-0.257-0.109-0.443-0.149 0.038-0.367-0.368-0.491-0.62-0.679-0.24-0.181-0.39-0.384-0.733-0.312-0.037 0.020-0.407 0.148-0.334 0.226-0.236-0.205-0.347-0.314-0.658-0.407-0.289-0.092-0.492-0.46-0.788-0.131-0.148 0.148-0.072 0.367-0.148 0.514-0.236-0.202 0.225-0.438 0.038-0.658-0.22-0.256-0.609 0.165-0.794 0.274-0.109 0.093-0.241 0.127-0.311 0.236-0.095 0.131-0.133 0.295-0.204 0.422-0.056-0.142-0.367-0.11-0.382-0.22 0.070 0.444 0.070 0.898 0.159 1.341 0.059 0.258 0 0.678-0.213 0.877-0.214 0.203-0.493 0.421-0.533 0.732-0.037 0.219 0.018 0.422 0.226 0.477 0.017 0.279-0.301 0.475-0.281 0.772 0.001 0.016 0.018 0.203 0.041 0.295z"></path>
                  </svg>
                  <strong>int</strong>
                </a>
              </li>
              <li>
                <a href="#">
                  <strong>pt</strong>
                  <svg class="icon icon-world" viewBox="0 0 32 32">
                    <title>brasil</title>
                    <path class="path1" fill="#000" d="M31.040 16c0 8.306-6.734 15.040-15.040 15.040s-15.040-6.734-15.040-15.040c0-8.306 6.734-15.040 15.040-15.040s15.040 6.734 15.040 15.040z"></path>
                    <path class="path2" d="M16 0.002c8.836 0 16 7.162 16 15.998s-7.164 15.997-16 15.997c-8.836 0-16-7.162-16-15.997s7.164-15.998 16-15.998v0zM15.998 1.922c-7.742 0-14.079 6.334-14.079 14.078v0c0 7.744 6.337 14.078 14.079 14.078v0c7.744 0 14.080-6.334 14.080-14.078v0c0-7.744-6.336-14.078-14.080-14.078v0 0zM16 10.265v0c3.166 0 5.733 2.568 5.733 5.735s-2.566 5.735-5.733 5.735c-3.169 0-5.735-2.568-5.735-5.735s2.566-5.735 5.735-5.735zM15.998 7.27l-13.651 8.73 13.651 8.729 1.873-1.195 11.78-7.534-13.652-8.73z"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="nav-cart">
            <ul class="menu">
              <li>
                <button class="btn-icon" id="active-search">
                  <svg class="icon icon-search" viewBox="0 0 30 32">
                    <title>search</title>
                    <path class="path1" d="M20.571 14.857q0-3.304-2.348-5.652t-5.652-2.348-5.652 2.348-2.348 5.652 2.348 5.652 5.652 2.348 5.652-2.348 2.348-5.652zM29.714 29.714q0 0.929-0.679 1.607t-1.607 0.679q-0.964 0-1.607-0.679l-6.125-6.107q-3.196 2.214-7.125 2.214-2.554 0-4.884-0.991t-4.018-2.679-2.679-4.018-0.991-4.884 0.991-4.884 2.679-4.018 4.018-2.679 4.884-0.991 4.884 0.991 4.018 2.679 2.679 4.018 0.991 4.884q0 3.929-2.214 7.125l6.125 6.125q0.661 0.661 0.661 1.607z"></path>
                  </svg>
                </button>
              </li>
              <li> &nbsp; &nbsp; </li>
              <li><button class="btn-icon" id="np-cart-preview-active"> cart </button></li>
              <li><span class="divider">/</span></li>
              <li>00</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </style>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
